<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 尽量别用绝对路径，如果带参数不同容器路径解释可能不同,以下配置参数在pom.xml里 -->
    <property name="log.root.level" value="DEBUG" /> <!-- 日志级别 -->
    <property name="log.base" value="${catalina.home}/applog/practice" />
    <!--<property name="log.max.size" value="100MB" />--> <!-- 日志文件大小 -->

    <!--控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{56}.%method:%L %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 日志文件输出 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<File>${log.base}</File>-->
        <!-- 滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件。-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- 最多保留30天 -->
            <maxHistory>30</maxHistory>
            <!-- 当天的日志大小 超过${log.max.size}时,压缩日志并保存 -->
            <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.max.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>-->
        </rollingPolicy>
        <!-- 日志输出的文件的格式  -->
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{56}.%method:%L %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 为某个包下的所有类的指定Appender，additivity属性为false，表示此loger的打印信息不再向上级传递 -->
    <!--<logger name="com.my" additivity="false" level="${log.other.level}">
        <appender-ref ref="stdout" />
    </logger>-->

    <root level="${log.root.level}">
        <!--<appender-ref ref="file" />-->
        <appender-ref ref="stdout" />
    </root>
</configuration>