<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.my.dao.LoginMapper">
    <resultMap id="baseResultMap" type="com.my.entity.Member">
        <result column="mem_mobile" property="memMobile" jdbcType="VARCHAR" />
        <result column="mem_pwd" property="memPwd" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="baseColumn">
        mem_mobile, mem_pwd
    </sql>

    <select id="getMemberInfo" resultMap="baseResultMap">
        SELECT
          <include refid="baseColumn" />
        FROM my_member
        WHERE mem_mobile = #{memMobile}
    </select>

    <insert id="addMember" parameterType="com.my.entity.Member">
        insert into my_member(mem_mobile, mem_pwd)
        values(
          #{memMobile},
          #{memPwd}
        )
    </insert>
</mapper>